{% extends 'base.html' %}

{% block title %}
Driver # {{driver.user_id}}
{% endblock %}

{% block page_styles %}
<link href="/static/css/home.css" rel="stylesheet" />
{% endblock %}

{% block content %}


<div class="container">

    <a href="/drivers" class="mb-5 btn btn-dark">Back To Drivers</a>
    <h1>Driver: {{driver.full_name}}</h1>
    <p>ID: {{driver.user_id}} </p>
    <p>Phone: {{driver.phone}} </p>
    <p>Email: {{driver.email}} </p>
    <p>Bank Account: {{driver.bank_account}} </p>
    <p>Profit: {{driver.profit}}</p>
    <p>Paid: {{driver.paid}}</p>
    <p>Balance: {{driver.balance}} </p>

<!-- 
    <br>

        <h1 class="heading text-center mb-3">
            Products
        </h1>


        <table class="table table-r table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>

                {% for s in products %}
                <tr>
                    <td class="smaller_td">{{s.product_id}}</td>
                    <td class="smaller_td">{{s.product_name}}</td>
                    <td class="smaller_td">{{s.product_price}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
 -->


    {% endblock %}

    {% block scripts %}
    {{ super() }}
    {% endblock %}