{% extends 'base.html' %}

{% block title %}
Drivers
{% endblock %}

{% block page_styles %}
<link href="/static/css/transaction_ledger.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="p-4">

    <h1 class="heading mt-1 text-center">
        Drivers
    </h1>


    <table class="table table-r table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Bank Account</th>
                <th>Profit</th>
                <th>Paid</th>
                <th>Balance</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <tbody>

            {% for s in drivers %}
            <tr onclick="window.location.href = '/drivers/{{s.user_id}}';" style="cursor: pointer">
                <td class="smaller_td">{{s.user_id}}</td>
                <td class="smaller_td">{{s.full_name}}</td>
                <td class="smaller_td">{{s.phone}}</td>
                <td class="smaller_td">{{s.email}}</td>
                <td class="smaller_td">{{s.bank_account}}</td>
                <td class="smaller_td">{{s.profit}} $</td>
                <td class="smaller_td">{{s.paid}} $</td>
                <td class="smaller_td">{{s.balance}} $</td>
                <td class="smaller_td col-md-2">
                    <a class="btn btn-outline-info" href="/new_transaction/?user_id={{s.user_id}}&&t_type=1"
                        role="button">New Transaction</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}