{% extends 'base.html' %}

{% block title %}
Order # {{order_id}}
{% endblock %}

{% block page_styles %}
<link href="/static/css/home.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<a href="/" class="m-3 btn btn-dark">Back To Home</a>
<br><br>

<div class="container">



    <h1>Order # {{order_id}}</h1>


    <p>Total: {{order_total}} $</p>

    <br>


    {% for item in items %}

    <br>
    <br>
    <br>

    <h3>Product # {{item.product.product_id}}</h3>

    product_name : {{ item.product.product_name }} <br>
    <a href="/sellers/{{item.product.seller_id}}"></a> seller : {{ item.seller_name }}</a> <br>
    quantity : {{ item.quantity }} <br>
    price_per_unit : {{ item.order_price }} <br>
    current_product_price : {{ item.product.product_price }} <br>

    total : {{ item.total() }}

    {% endfor %}

    <br>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}