{% extends 'base.html' %}

{% block title %}
Silal Transaction Ledger
{% endblock %}

{% block page_styles %}
<link href="/static/css/transaction_ledger.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">

  <h1 class="heading text-center mb-3">
    Orders
  </h1>


  <table class="table table-r table-hover ">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Datetime</th>
      </tr>
    </thead>
    <tbody>

      {% for o in orders %}
      <tr onclick="window.location.href = '/order/{{o.order_id}}';" style="cursor: pointer">
        <td class="smaller_td">{{o.order_id}}</td>
        <td class="smaller_td">${{o.total}}</td>
        <td class="smaller_td">{{o.order_date.strftime('%Y-%m-%d %H:%M')}}</td>

      </tr>
      {% endfor %}


    </tbody>
  </table>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}