{% extends 'base.html' %}

{% block title %}
Order # {{order_id}}
{% endblock %}

{% block page_styles %}
<link href="/static/css/home.css" rel="stylesheet" />
{% endblock %}

{% block content %}


<div class="container">

    <a href="/orders" class="mb-5 btn btn-dark">Back To Orders</a>
    <h1>Order # {{order_id}}</h1>
    <p>Items Total: {{order_items_total}} $</p>
    <p>Delivery Fee: {{delivery_fee}} $</p>
    <p>Total: {{delivery_fee + order_items_total }} $</p>
    <table class="table table-r table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Seller</th>
                <th>Quantity</th>
                <th>Current Price</th>
                <th>Order Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
    {% for item in items %}
    <tr>
        <td class="smaller_td">{{item.product.product_id}}</td>
        <td class="smaller_td">{{item.product.product_name}}</td>
        <td class="smaller_td"><a href="/sellers/{{item.product.product_seller}}">{{item.seller_name}}</a></td>
        <td class="smaller_td">{{item.quantity}}</td>
        <td class="smaller_td">{{item.product.product_price}}</td>
        <td class="smaller_td">{{item.order_price}}</td>
        <td class="smaller_td">{{item.total()}}</td>
    </tr>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}