{% extends 'base.html' %}

{% block title %}
Seller # {{seller.user_id}}
{% endblock %}

{% block page_styles %}
<link href="/static/css/home.css" rel="stylesheet" />
{% endblock %}

{% block content %}


<div class="container">

    <a href="/sellers" class="mb-5 btn btn-dark">Back To Sellers</a>




    <h1>Seller: {{seller.full_name}}</h1>
    <p>ID: {{seller.user_id}} </p>
    <p>Phone: {{seller.phone}} </p>
    <p>Email: {{seller.email}} </p>
    <p>Bank Account: {{seller.bank_account}} </p>
    <p>Balance: {{seller.balance}} </p>

    <br>

    <h1 class="heading text-center mb-3">
        Products
    </h1>


    <table class="table table-r table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for s in products %}
            <tr>
                <td class="smaller_td">{{s.product_id}}</td>
                <td class="smaller_td">{{s.product_name}}</td>
                <td class="smaller_td">{{s.product_price}}</td>
                <td class="smaller_td col-md-2">
                    <button onclick="window.location.href = '/products/delete/{{s.product_id}}';"
                        class="btn btn-outline-danger" role="button">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <h1 class="heading text-center mb-3">
        Order Items
    </h1>


    <table class="table table-r table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>Order ID</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Current Price</th>
                <th>Order Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

            {% for o in order_items %}
            <tr>
                <td class="smaller_td"><a href="/order/{{o[5]}}">{{o[5]}}</a></td>
                <td class="smaller_td">{{o[0]}}</td>
                <td class="smaller_td">{{o[1]}}</td>
                <td class="smaller_td">{{o[2]}}</td>
                <td class="smaller_td">{{o[4]}}</td>
                <td class="smaller_td">{{o[3]}}</td>
                <td class="smaller_td">{{o[3]*o[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <h1 class="heading text-center mb-3">
        Transactions
    </h1>


    <table class="table table-r table-hover ">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
            <tr>
                <td class="smaller_td">{{t.transaction_id}}</a></td>
                <td class="smaller_td">{{t.transaction_amount}}</td>
                <td class="smaller_td">{{t.transaction_date}}</td>
                <td class="smaller_td">{{t.transaction_type.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

    {% block scripts %}
    {{ super() }}
    {% endblock %}