{% extends 'base.html' %}

{% block title %}
Silal Transaction Ledger
{% endblock %}

{% block page_styles %}
<link href="/static/css/transaction_ledger.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="container">

  <h1 class="heading text-center mb-3">
    <span class="silal_colored">
      Silal
    </span> Transaction Ledger
  </h1>


  <table class="table table-r ">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Datetime</th>
      </tr>
    </thead>
    <tbody>

      {% for t in transactions %}
      <tr>
        <td>{{t.transaction_id}}</td>
        <td>${{t.transaction_amount}}</td>

        <td>

          <span class="badge badge-{{ transaction_types_bs_classes[t.transaction_type.name] }}">{{
            t.transaction_type.name
            }}</span>

        </td>

        <td>{{t.transaction_date.strftime('%Y-%m-%d %H:%M')}}</td>
      </tr>
      {% endfor %}


    </tbody>
  </table>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}