wheel
Flask
Flask-SQLAlchemy
Flask-WTF
WTForms-Validators
Werkzeug
WTForms[email]
Flask-Login
SQLAlchemy-Utils
python-dotenv
Requests
Psycopg2
orjson
itsdangerous==2.0.1 #FIXME
Flask-RESTful
Flask-Cors
Flask-Filter
faker-commerce
# WTForms-JSON # disabled because we use a fork of it and is a part of the code